{% extends 'base_generic.html' %}
{% block content %}

<h1 class="text-center mb-4">ИЛЬЯ СУББОТА ИЛЬЯ СУББОТА, я говорю вообще-то, сегодня ж воскресенье</h1>

<div class="container">
    {% if latest_question_list %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for question in latest_question_list %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.question_text }}</h5>
                        <p>{{ question.description }}</p>
                        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-danger">Нет вопросов!</p>
    {% endif %}
</div>

{% endblock %}

